*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  padding: 133px 30px;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "result content__details";
  gap: 30px;
}

/* Блок с главным видео */

.result {
  max-width: 711px;
  display: flex;
  flex-direction: column;
  grid-area: result;
}

.result__video-container {
  position: relative;
  max-height: 386px;
  margin-top: 78px;
  margin-bottom: 16px; 
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Формы */

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}
.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: inherit;
  font-family: inherit;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  color: #fff;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:not(:active):focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form fieldset:nth-of-type(2) {
  max-width: 212px;
  width: 100%;
}

.search-form__label-text {
  font-weight: 400;
  font-size: 18px;
}

.search-form__label-text:hover {
  box-shadow: inset 0 -2px white;
}

.button {
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
}

.search-form__submit-button {
  margin-top: 20px;
  width: 194px;
  height: 34px;
  font-weight: 700;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__label {
  display: flex;
  align-items: center;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 18px;
  block-size: 18px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  margin-right: 5px;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  content: "";
  min-inline-size: 15px;
  min-block-size: 15px;
  background-color: #FFFFFF;
}

.search-form__label:has(input[type="checkbox"]:focus-visible) {
  outline: 1px solid #FFFFFF;
}

/* Контент блок */

.content__details { 
  grid-area: content__details;
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 399px;
}

.title {
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}
.content__list-container {
  position: relative;
  padding: 0 3px 2px 2px;
  block-size: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  max-width: 196px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-description {           
  max-width: 196px;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.more-button {
  margin-top: 30px;
  width: 100%;
  height: 34px;
}

